<phpunit colors="true" strict="true" stopOnError="false" backupGlobals="false"
         bootstrap="vendor/autoload.php">
    <testsuites>
        <!--<testsuite name="All">-->
            <!--<directory>test</directory>-->
        <!--</testsuite>-->
        <!--<testsuite name="QueryBuilder">-->
            <!--<directory>test/QueryBuilder</directory>-->
        <!--</testsuite>-->
        <testsuite name="Orm">
            <directory>test/Orm</directory>
            <!--<file>test/Orm/Basic/NewModelTest.php</file>-->
            <!--<file>test/Orm/Basic/MetaDataTest.php</file>-->
            <!--<file>test/Orm/Basic/IsNewTest.php</file>-->
            <!--<file>test/Orm/Basic/ModelAttributesTest.php</file>-->
        </testsuite>
        <!--<testsuite name="Form">-->
            <!--<directory>test/Form</directory>-->
        <!--</testsuite>-->
    </testsuites>
    <php>
        <ini name="error_reporting" value="32767"/>
    </php>
    <!--<filter>-->
        <!--<whitelist>-->
            <!--<directory suffix=".php">src/</directory>-->
            <!--<file>src/Orm/NewOrm.php</file>-->
            <!--<file>src/Orm/NewBase.php</file>-->
        <!--</whitelist>-->
    <!--</filter>-->
    <!--<logging>-->
        <!--<log type="coverage-html" target="./coverage" charset="UTF-8"-->
             <!--yui="true" highlight="true" lowUpperBound="50" highLowerBound="80"/>-->
    <!--</logging>-->
</phpunit>